{% extends "opensixtUserAdminBundle:UserAdmin:layout.html.twig" %}
 
{% block title %}
    BikiniTranslate UserAdmin
{% endblock %}
 
{% block content %}
    
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li>
            <a href="{{ path('_user_admin_logout') }}">
                logout
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('_user_admin_login') }}">
                login
            </a>
        </li>
    {% endif %}
    <br /><br />   
        
    {% if app.user.username %}
        <div class="message">Hello {{ app.user.username }}!!!</div>
    {% endif %}
        
        
    
    

{% endblock %}

