class opensixt::devsettings {

    $http_proxy = "http://wp.sixt.de:8080/"

    $db_root_password = "bikini"
    $db_name = "bikini"
    $db_user = "bikini"
    $db_user_password = "bikini"

    $server_admin = "webmaster@bikini.org"
}