/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/nbproject/
/nbproject/private/
*.php~
*.swp
/composer.lock
src/opensixt/ContentBundle/Resources/public/icons/*

/vagrant/.vagrant
/vagrant/manifests/opensixt/devsettings.pp

# PHPStorm
/.idea
