parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     bikini
    database_user:     bikini
    database_password: bikini

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    secret:            ThisTokenIsNotSoSecretChangeIt

    tool_language:     de_DE
    common_language:   en_GB

    export_chunk_limit: 100

    skin: bikini # $base_dir/web/skins/bikini/