{% extends '::layout.html.twig' %}

{% block flash %}
    <ul class="flash">
    {% for type, messages in app.session.getFlashBag.all() %}
        {% for message in messages %}
            <li class="alert alert-{{ type }}" title="{{ 'click_to_close'|trans }}">
                {{ message }}
            </li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endblock %}

{% block javascript_includes %}
<script src="/bundles/opensixtbikinitranslate/js/bikini.js"></script>
{% endblock %}
