/* here goes licence */

/* here goes css */


/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/
* {
    margin: 0;
}
html, body {
    height: 100%;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px; /* the bottom margin is the negative value of the footer's height */
}
#push,
#footer {
    height: 43px; /* .push must be the same height as .footer */
}
/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/

body {
    background: #f8feff url(../img/bg_header.png) repeat-x;
}

#header {
    border-bottom: 1px solid white;
    height: 116px;
}

#logo_header {
    margin: 10px 0 0 29px;
}

#nav {
    background: white url(../img/bg_nav_box.png) repeat-x;
    height: 44px;
    list-style: none;
    padding: 0;
    padding-left: 44px;
    margin: 0;
}

#nav > li {
    display: inline-block;
}

#nav > li > a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 12px 22px;
}

#nav > li > a:hover {
    background: white url(../img/bg_nav_hover.png) repeat-x;
    color: #26b0df;
}

#nav .navbar-search {
    margin: 8px 6px 0 0;
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb li.last {
    font-weight: bold;
}

#main {
    background: url(../img/bg_body.png) repeat-x;
}

#content {
    margin: 0 10px 40px 15px;
}

#content h3 {
    margin-top: 0;
}

#footer {
    height: 43px;
    clear: both;
    padding-top:20px;
    background: #2e2e2e;
}

#footer a {
    display: inline-block;
    margin: 0 25px;
    color: #98999b;
    text-decoration: none;
}

#footer a:hover, #footer a:active {
    color: white;
}
