{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'create_user'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'create_user'|trans }}</h3>

    <form action="{{ path('_admin_user_save_new') }}" method="post" {{ form_enctype(form) }}>
        {% include 'opensixtUserAdminBundle:User:form.html.twig' %}
    </form>

{% endblock %}