{% extends 'OpensixtBikiniTranslateBundle::base.html.twig' %}

{% block title %}
    {{ 'user'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'user'|trans }}</h3>

    <form action="{{ path('_admin_user_save', { 'id': user.getId() }) }}" method="post" {{ form_enctype(form) }}>
        {% include 'OpensixtUserAdminBundle:User:form.html.twig' %}
    </form>

{% endblock %}